[user]
	name  = Frank Milde
	email = Frank.Milde@posteo.de
[core]
	autocrlf = input
	safecrlf = true
	editor   = vim
	excludesfile = ~/.gitignore_global
[credential]
	helper = cache --timeout=3600
[merge]
	tool = vimdiff
[github]
    user = "frankMilde"
[push]
	default = matching
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
